.projects-sidebar-container10 {
  left: 0px;
  width: 18%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 1px 1px 10px 0px #d4d4d4;
  min-height: 100%;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  border-color: var(--dl-color-theme-secondary2);
  border-width: 1px;
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
 
.projects-sidebar-container11 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.projects-sidebar-container12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.projects-sidebar-text10 {
  font-size: 20px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 600;
}
 
.projects-sidebar-button {
  width: 90%;
}
 
.projects-sidebar-separator1 {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.projects-sidebar-container13 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.projects-sidebar-container14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.projects-sidebar-container15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.projects-sidebar-container16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.projects-sidebar-container17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.projects-sidebar-separator2 {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.projects-sidebar-container18 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.projects-sidebar-container19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.projects-sidebar-container20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.projects-sidebar-text12 {
  display: inline-block;
}
 
.projects-sidebar-text13 {
  display: inline-block;
}
 
.projects-sidebar-text14 {
  display: inline-block;
}
 
.projects-sidebar-text15 {
  display: inline-block;
}
 
.projects-sidebar-text16 {
  display: inline-block;
}
 
.projects-sidebar-text17 {
  display: inline-block;
}
 
.projects-sidebar-text18 {
  display: inline-block;
}
 
.projects-sidebar-text19 {
  display: inline-block;
}
 
.projects-sidebarroot-class-name {
  position: static;
  align-self: flex-start;
}
 
.projects-sidebarroot-class-name1 {
  top: 0px;
  left: 0px;
  min-height: 100%;
}
 
.projects-sidebarroot-class-name2 {
  top: 60px;
  position: fixed;
  min-height: 100%;
}
