.project-dashboard-navbar-container {
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 5px 2px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
 
.project-dashboard-navbar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
}
 
.project-dashboard-navbar-navlink {
  display: contents;
}
 
.project-dashboard-navbar-component1 {
  text-decoration: none;
}
 
.project-dashboard-navbar-text10 {
  display: inline-block;
}
 
.project-dashboard-navbar-desktop-menu {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row-reverse;
  justify-content: space-between;
}
 
.project-dashboard-navbar-buttons1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-end;
  border-left-width: 0px;
}
 
.project-dashboard-navbar-button {
  text-decoration: none;
}
 
.project-dashboard-navbar-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-buttonradius);
}
 
.project-dashboard-navbar-burger-menu {
  display: none;
}
 
.project-dashboard-navbar-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  display: none;
}
 
.project-dashboard-navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.project-dashboard-navbar-nav {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
 
.project-dashboard-navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.project-dashboard-navbar-text12 {
  display: inline-block;
}
 
.project-dashboard-navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.project-dashboard-navbar-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.project-dashboard-navbar-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.project-dashboard-navbar-text13 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.project-dashboard-navbar-text14 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.project-dashboard-navbar-text15 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.project-dashboard-navbar-text16 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.project-dashboard-navbar-text17 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.project-dashboard-navbar-buttons2 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.project-dashboard-navbar-login {
  margin-right: var(--dl-layout-space-twounits);
}
 
.project-dashboard-navbar-icon-group {
  display: none;
}
 
.project-dashboard-navbar-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.project-dashboard-navbar-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.project-dashboard-navbar-icon20 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.project-dashboard-navbar-text20 {
  display: inline-block;
}
 
.project-dashboard-navbar-text21 {
  display: inline-block;
}
 
.project-dashboard-navbar-text22 {
  display: inline-block;
}
 
.project-dashboard-navbar-text23 {
  display: inline-block;
}
 
.project-dashboard-navbar-text24 {
  display: inline-block;
}
 
.project-dashboard-navbar-text25 {
  display: inline-block;
}
 
.project-dashboard-navbar-text26 {
  display: inline-block;
}
 
.project-dashboard-navbar-text27 {
  display: inline-block;
}
 
.project-dashboard-navbarroot-class-name {
  top: 0px;
  position: fixed;
}
 
@media(max-width: 991px) {
  .project-dashboard-navbar-links {
    gap: var(--dl-layout-space-fourunits);
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .project-dashboard-navbar-buttons2 {
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 767px) {
  .project-dashboard-navbar-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    justify-content: space-between;
  }
  .project-dashboard-navbar-desktop-menu {
    display: none;
  }
  .project-dashboard-navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .project-dashboard-navbar-icon12 {
    display: flex;
  }
  .project-dashboard-navbar-nav {
    display: none;
  }
  .project-dashboard-navbar-links {
    gap: var(--dl-layout-space-threeunits);
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .project-dashboard-navbar-text13 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .project-dashboard-navbar-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .project-dashboard-navbar-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .project-dashboard-navbar-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .project-dashboard-navbar-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .project-dashboard-navbar-buttons2 {
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .project-dashboard-navbar-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project-dashboard-navbar-icon12 {
    display: flex;
  }
  .project-dashboard-navbar-mobile-menu {
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 16px;
  }
  .project-dashboard-navbar-nav {
    display: flex;
  }
  .project-dashboard-navbar-links {
    gap: var(--dl-layout-space-twounits);
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .project-dashboard-navbar-buttons2 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .project-dashboard-navbar-icon-group {
    display: flex;
  }
}
