.app-page-container {
  width: 100%;
  display: block;
  max-height: 100vh;
  overflow: hidden;
}
 
.app-page-text10 {
  display: inline-block;
}
 
.app-page-text11 {
  display: inline-block;
}
 
.app-page-text12 {
  display: inline-block;
}
 
.app-page-text13 {
  display: inline-block;
}
 
.app-page-text14 {
  display: inline-block;
}
 
.app-page-text15 {
  display: inline-block;
}
 
.app-page-text16 {
  display: inline-block;
}
 
.app-page-text17 {
  display: inline-block;
}
 
.app-page-text18 {
  display: inline-block;
}
 
.app-page-text19 {
  display: inline-block;
}
 
.app-page-image {
  width: 100%;
  height: auto;
  display: none;
  overflow: hidden;
  object-fit: cover;
}
 
.app-page-text20 {
  display: inline-block;
}
 
.app-page-text21 {
  display: inline-block;
}
 
.app-page-text22 {
  display: inline-block;
}
 
.app-page-text23 {
  display: inline-block;
}
 
.app-page-text24 {
  display: inline-block;
}
 
.app-page-text25 {
  display: inline-block;
}
 
.app-page-text26 {
  display: inline-block;
}
 
.app-page-text27 {
  display: inline-block;
}
