.login-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
 
.login-text10 {
  display: inline-block;
}
 
.login-text11 {
  display: inline-block;
}
 
.login-text12 {
  display: inline-block;
}
 
.login-text13 {
  display: inline-block;
}
 
.login-text14 {
  display: inline-block;
}
 
.login-text15 {
  display: inline-block;
}
 
.login-text16 {
  display: inline-block;
}
 
.login-text17 {
  display: inline-block;
}
 
.login-text18 {
  display: inline-block;
}
 
.login-text19 {
  display: inline-block;
}
 
.login-text20 {
  display: inline-block;
}
 
.login-text21 {
  display: inline-block;
}
 
.login-text22 {
  display: inline-block;
}
 
.login-text23 {
  display: inline-block;
}
 
.login-text24 {
  display: inline-block;
}
 
.login-text25 {
  display: inline-block;
}
 
.login-text26 {
  display: inline-block;
}
