.projects-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.projects-text10 {
  display: inline-block;
}
 
.projects-text11 {
  display: inline-block;
}
 
.projects-text12 {
  display: inline-block;
}
 
.projects-text13 {
  display: inline-block;
}
 
.projects-text14 {
  display: inline-block;
}
 
.projects-text15 {
  display: inline-block;
}
 
.projects-text16 {
  display: inline-block;
}
 
.projects-container2 {
  display: flex;
}
 
.projects-text17 {
  display: inline-block;
}
 
.projects-text18 {
  display: inline-block;
}
 
.projects-text19 {
  display: inline-block;
}
 
.projects-text20 {
  display: inline-block;
}
 
.projects-text21 {
  display: inline-block;
}
 
.projects-text22 {
  display: inline-block;
}
 
.projects-text23 {
  display: inline-block;
}
 
.projects-text24 {
  display: inline-block;
}
 
.projects-project-list {
  width: 82%;
  display: flex;
  margin-top: 60px;
  margin-left: 18%;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  background-color: #ffffff;
}
 
.projects-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: space-between;
}
 
.projects-container4 {
  gap: var(--dl-layout-space-halfunit);
  width: 40%;
  height: 36px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.projects-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.projects-textinput {
  width: 100%;
  height: 24px;
  text-align: left;
  font-family: "Bricolage Grotesque";
}
 
.projects-container5 {
  gap: var(--dl-layout-space-twounits);
  flex: 0;
  height: 36px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.projects-container6 {
  gap: var(--dl-layout-space-twounits);
  display: grid;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
 
.projects-component12 {
  text-decoration: none;
}
 
.projects-text25 {
  display: inline-block;
}
 
.projects-text26 {
  display: inline-block;
}
 
.projects-text27 {
  display: inline-block;
}
 
.projects-text28 {
  display: inline-block;
}
 
.projects-text29 {
  display: inline-block;
}
 
.projects-text30 {
  display: inline-block;
}
 
.projects-text31 {
  display: inline-block;
}
 
.projects-text32 {
  display: inline-block;
}
 
.projects-text33 {
  display: inline-block;
}
 
.projects-text34 {
  display: inline-block;
}
 
.projects-text35 {
  display: inline-block;
}
 
.projects-text36 {
  display: inline-block;
}
 
.projects-text37 {
  display: inline-block;
}
 
.projects-text38 {
  display: inline-block;
}
 
.projects-text39 {
  display: inline-block;
}
 
.projects-text40 {
  display: inline-block;
}
 
.projects-text41 {
  display: inline-block;
}
 
.projects-text42 {
  display: inline-block;
}
 
.projects-text43 {
  display: inline-block;
}
 
.projects-text44 {
  display: inline-block;
}
 
.projects-text45 {
  display: inline-block;
}
 
.projects-text46 {
  display: inline-block;
}
 
.projects-text47 {
  display: inline-block;
}
 
.projects-text48 {
  display: inline-block;
}
 
.projects-text49 {
  display: inline-block;
}
 
.projects-text50 {
  display: inline-block;
}
 
.projects-text51 {
  display: inline-block;
}
 
.projects-text52 {
  display: inline-block;
}
 
.projects-text53 {
  display: inline-block;
}
 
.projects-text54 {
  display: inline-block;
}
 
.projects-text55 {
  display: inline-block;
}
 
.projects-text56 {
  display: inline-block;
}
 
.projects-text57 {
  display: inline-block;
}
 
.projects-text58 {
  display: inline-block;
}
 
.projects-text59 {
  display: inline-block;
}
 
.projects-text60 {
  display: inline-block;
}
 
.projects-text61 {
  display: inline-block;
}
 
.projects-text62 {
  display: inline-block;
}
 
.projects-text63 {
  display: inline-block;
}
 
.projects-text64 {
  display: inline-block;
}
