.app-navbar-container {
  width: 100%;
  height: 52px;
  display: flex;
  z-index: 1000;
  position: relative;
  box-shadow: 2px 2px 2px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
 
.app-navbar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-navbar-navlink {
  display: block;
}
 
.app-navbar-component1 {
  text-decoration: none;
}
 
.app-navbar-text10 {
  display: inline-block;
}
 
.app-navbar-desktop-menu {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row-reverse;
  justify-content: space-between;
}
 
.app-navbar-buttons1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-end;
  border-left-width: 0px;
}
 
.app-navbar-text11 {
  font-size: 12px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 500;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-halfunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
 
.app-navbar-button1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: var(--dl-layout-size-medium);
  font-family: "Bricolage Grotesque";
  border-color: var(--dl-color-theme-neutral-dark);
  text-decoration: none;
}
 
.app-navbar-text12 {
  font-size: 12px;
}
 
.app-navbar-button2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: var(--dl-layout-size-medium);
  font-family: "Bricolage Grotesque";
  border-color: var(--dl-color-theme-neutral-dark);
  text-decoration: none;
}
 
.app-navbar-text13 {
  font-size: 12px;
}
 
.app-navbar-image {
  width: 28px;
  height: 27px;
  object-fit: cover;
  border-radius: var(--dl-layout-radius-buttonradius);
}
 
.app-navbar-burger-menu {
  display: none;
}
 
.app-navbar-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  display: none;
}
 
.app-navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.app-navbar-nav {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
 
.app-navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.app-navbar-text14 {
  display: inline-block;
}
 
.app-navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.app-navbar-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.app-navbar-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.app-navbar-text15 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.app-navbar-text16 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.app-navbar-text17 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.app-navbar-text18 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.app-navbar-text19 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.app-navbar-buttons2 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.app-navbar-login {
  margin-right: var(--dl-layout-space-twounits);
}
 
.app-navbar-icon-group {
  display: none;
}
 
.app-navbar-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.app-navbar-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.app-navbar-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.app-navbar-text22 {
  display: inline-block;
}
 
.app-navbar-text23 {
  display: inline-block;
}
 
.app-navbar-text24 {
  display: inline-block;
}
 
.app-navbar-text25 {
  display: inline-block;
}
 
.app-navbar-text26 {
  display: inline-block;
}
 
.app-navbar-text27 {
  display: inline-block;
}
 
.app-navbar-text28 {
  display: inline-block;
}
 
.app-navbar-text29 {
  display: inline-block;
}
 
.app-navbar-text30 {
  display: inline-block;
}
 
.app-navbar-text31 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .app-navbar-links {
    gap: var(--dl-layout-space-fourunits);
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .app-navbar-buttons2 {
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 767px) {
  .app-navbar-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    justify-content: space-between;
  }
  .app-navbar-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .app-navbar-icon10 {
    display: flex;
  }
  .app-navbar-nav {
    display: none;
  }
  .app-navbar-links {
    gap: var(--dl-layout-space-threeunits);
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .app-navbar-text15 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .app-navbar-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .app-navbar-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .app-navbar-text18 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .app-navbar-text19 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .app-navbar-buttons2 {
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .app-navbar-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .app-navbar-desktop-menu {
    display: none;
  }
  .app-navbar-burger-menu {
    display: flex;
  }
  .app-navbar-icon10 {
    display: flex;
  }
  .app-navbar-mobile-menu {
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 16px;
  }
  .app-navbar-nav {
    display: flex;
  }
  .app-navbar-links {
    gap: var(--dl-layout-space-twounits);
    align-self: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .app-navbar-buttons2 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .app-navbar-icon-group {
    display: flex;
  }
}
