.app-button-left-menu-container {
  gap: var(--dl-layout-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.app-button-left-menu-ai-chat-button {
  width: 44px;
  height: 44px;
  display: flex;
  padding: 0px;
  box-shadow: 1px 1px 1px 0px #d4d4d4,-1px -1px 1px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.app-button-left-menu-ai-chat-button:hover {
  background-color: transparent;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
 
.app-button-left-menu-ai-chat-button:active {
  background-color: transparent;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
 
.app-button-left-menu-icon10 {
  width: 100%;
  height: 100%;
  padding: 12px;
  transition: 0.3s;
}
 
.app-button-left-menu-icon10:hover {
  color: white;
}
 
.app-button-left-menu-icon10:active {
  color: white;
}
 
.app-button-left-menu-properties-buttons {
  gap: var(--dl-layout-space-unit);
  width: auto;
  height: auto;
  display: flex;
  padding: 4px;
  box-shadow: 1px 1px 1px 1px #d4d4d4,-1px -1px 1px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: #ffffff;
}
 
.app-button-left-menu-building-prop {
  transition: 0.3s;
}
 

 

 
.app-button-left-menu-icon12 {
  padding: var(--dl-layout-space-halfunit);
  transition: 0.3s;
}
 
.app-button-left-menu-icon12:hover {
  color: white;
}
 

 
.app-button-left-menu-add-duct-button {
  width: 36px;
  height: 36px;
  display: flex;
  padding: 0px;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.app-button-left-menu-add-duct-button:hover {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-add-duct-button:active {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-icon15 {
  width: 100%;
  height: 100%;
  padding: var(--dl-layout-space-halfunit);
  overflow: visible;
  transition: 0.3s;
}
 
.app-button-left-menu-icon15:hover {
  color: white;
}
 
.app-button-left-menu-icon15:active {
  color: white;
}
 
.app-button-left-menu-add-piping {
  width: 36px;
  height: 36px;
  display: flex;
  padding: 0px;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.app-button-left-menu-add-piping:hover {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-add-piping:active {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-icon17 {
  width: 100%;
  height: 100%;
  padding: var(--dl-layout-space-halfunit);
  transition: 0.3s;
}
 
.app-button-left-menu-icon17:hover {
  color: white;
}
 
.app-button-left-menu-icon17:active {
  color: white;
}
 
.app-button-left-menu-add-conduit {
  width: 36px;
  height: 36px;
  display: flex;
  padding: 0px;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.app-button-left-menu-add-conduit:hover {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-add-conduit:active {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-icon19 {
  width: 100%;
  height: 100%;
  padding: var(--dl-layout-space-halfunit);
  transition: 0.3s;
}
 
.app-button-left-menu-icon19:hover {
  color: white;
}
 
.app-button-left-menu-icon19:active {
  color: white;
}
 
.app-button-left-menu-add-cable-tray {
  width: 36px;
  height: 36px;
  display: flex;
  padding: 0px;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.app-button-left-menu-add-cable-tray:hover {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-add-cable-tray:active {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-icon21 {
  width: 100%;
  height: 100%;
  padding: var(--dl-layout-space-halfunit);
  transition: 0.3s;
}
 
.app-button-left-menu-icon21:hover {
  color: white;
}
 
.app-button-left-menu-icon21:active {
  color: white;
}
 
.app-button-left-menu-edit-view-prop-button {
  width: 44px;
  height: 44px;
  display: flex;
  padding: 0px;
  box-shadow: 1px 1px 1px 0px #d4d4d4,-1px -1px 1px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.app-button-left-menu-edit-view-prop-button:hover {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-edit-view-prop-button:active {
  background-color: #5c5c5c;
}
 
.app-button-left-menu-icon23 {
  width: 100%;
  height: 100%;
  padding: 12px;
  transition: 0.3s;
}
 
.app-button-left-menu-icon23:hover {
  color: white;
}
 
.app-button-left-menu-icon23:active {
  color: white;
}
 
.app-button-left-menuroot-class-name {
  top: var(--dl-layout-space-sixunits);
  left: var(--dl-layout-space-twounits);
}
 
.app-button-left-menuroot-class-name1 {
  top: var(--dl-layout-space-sixunits);
  left: var(--dl-layout-space-twounits);
  position: fixed;
}
