.app-rack-properties-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  box-shadow: -1px 1px 1px 0px #d4d4d4,1px -1px 1px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}
 
.app-rack-properties-heading {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 2px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
}
 
.app-rack-properties-icon1 {
  width: 16px;
  height: 16px;
  transition: 0.3s;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.app-rack-properties-icon1:hover {
  color: white;
  background: gray;
}
 
.app-rack-properties-icon1:active {
  color: white;
  background: black;
}
 
.app-rack-properties-input {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: flex-start;
}
 
.app-rack-properties-button1 {
  width: 40%;
  transition: 0.3s;
}
 

 

 
.app-rack-properties-text11 {
  fill: white;
  color: white;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-button2 {
  width: 40%;
  transition: 0.3s;
}
 

 

 
.app-rack-properties-text12 {
  fill: white;
  color: white;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-title1 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-rack-properties-text13 {
  width: var(--dl-layout-size-medium);
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-textinput1 {
  width: var(--dl-layout-size-medium);
  height: auto;
  align-self: center;
  text-align: center;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
 
.app-rack-properties-text14 {
  font-size: 12px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-title2 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-rack-properties-text15 {
  width: var(--dl-layout-size-medium);
  padding: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-textinput2 {
  width: var(--dl-layout-size-medium);
  height: auto;
  align-self: center;
  text-align: center;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
 
.app-rack-properties-text16 {
  font-size: 12px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-title3 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-rack-properties-text17 {
  width: var(--dl-layout-size-medium);
  padding: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-textinput3 {
  width: var(--dl-layout-size-medium);
  height: auto;
  align-self: center;
  text-align: center;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
 
.app-rack-properties-text18 {
  font-size: 12px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-title4 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-rack-properties-text19 {
  width: var(--dl-layout-size-large);
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-count1 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  background-color: rgba(183, 180, 180, 0.6);
}
 

 

 
.app-rack-properties-text20 {
  fill: var(--dl-color-theme-secondary1);
  color: #393939;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
}
 
.app-rack-properties-text20:hover {
  color: #ffffff;
}
 
.app-rack-properties-text20:active {
  color: #ffffff;
}
 
.app-rack-properties-count2 {
  width: 24px;
  height: 24px;
  background-color: rgba(183, 180, 180, 0.6);
}
 
.app-rack-properties-text21 {
  fill: var(--dl-color-theme-secondary1);
  color: #393939;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-count3 {
  width: 24px;
  height: 24px;
  background-color: rgba(183, 180, 180, 0.6);
}
 
.app-rack-properties-text22 {
  fill: var(--dl-color-theme-secondary1);
  color: #393939;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-count4 {
  width: 24px;
  height: 24px;
  background-color: rgba(183, 180, 180, 0.6);
}
 
.app-rack-properties-text23 {
  fill: var(--dl-color-theme-secondary1);
  color: #393939;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-count5 {
  width: 24px;
  height: 24px;
  background-color: rgba(183, 180, 180, 0.6);
}
 
.app-rack-properties-text24 {
  fill: var(--dl-color-theme-secondary1);
  color: #393939;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-title5 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-rack-properties-text25 {
  width: var(--dl-layout-size-large);
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-select1 {
  width: 98px;
  height: auto;
  font-size: 12px;
  align-self: center;
  padding-top: 4pxt;
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: 4pxt;
}
 
.app-rack-properties-title6 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-rack-properties-text26 {
  width: var(--dl-layout-size-large);
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-rack-properties-textinput4 {
  width: var(--dl-layout-size-medium);
  height: auto;
  align-self: center;
  text-align: center;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}
 
.app-rack-properties-select2 {
  width: 74px;
  height: auto;
  font-size: 12px;
  align-self: center;
  padding-top: 4pxt;
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: 4pxt;
}
 
.app-rack-properties-save1 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: flex-start;
}
 
.app-rack-properties-text27 {
  fill: white;
  color: white;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-download-rvt {
  width: auto;
  transition: 0.3s;
}
 

 

 
.app-rack-properties-text28 {
  fill: white;
  color: white;
  font-style: normal;
  font-weight: 600;
}
 
.app-rack-properties-text29 {
  display: inline-block;
}
 
.app-rack-properties-text30 {
  display: inline-block;
}
 
.app-rack-properties-text31 {
  display: inline-block;
}
 
.app-rack-properties-text32 {
  display: inline-block;
}
 
.app-rack-properties-text33 {
  display: inline-block;
}
 
.app-rack-properties-text34 {
  display: inline-block;
}
 
.app-rack-properties-text35 {
  display: inline-block;
}
 
.app-rack-properties-text36 {
  display: inline-block;
}
 
.app-rack-properties-text37 {
  display: inline-block;
}
 
.app-rack-properties-text38 {
  display: inline-block;
}
 
.app-rack-properties-text39 {
  display: inline-block;
}
 
.app-rack-properties-text40 {
  display: inline-block;
}
 
.app-rack-properties-text41 {
  display: inline-block;
}
 
.app-rack-properties-text42 {
  display: inline-block;
}
 
.app-rack-properties-text43 {
  display: inline-block;
}
 
.app-rack-properties-text44 {
  display: inline-block;
}
 
.app-rack-propertiesroot-class-name {
  top: var(--dl-layout-space-sixunits);
  right: var(--dl-layout-space-twounits);
  height: 100px;
  position: fixed;
}
 
.app-rack-propertiesroot-class-name1 {
  top: 210px;
  right: var(--dl-layout-space-twounits);
  height: 200px;
  position: fixed;
}
 
.app-rack-propertiesroot-class-name2 {
  top: var(--dl-layout-space-sixunits);
  left: var(--dl-layout-space-sixunits);
  position: fixed;
}
