.app-tier-mep-container1 {
  width: 300px;
  height: auto;
  display: flex;
  position: relative;
  box-shadow: -1px 1px 1px 0px #d4d4d4,1px -1px 1px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}
 
.app-tier-mep-heading {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 2px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
}
 
.app-tier-mep-textinput {
  width: 100%;
  height: auto;
  padding: 4px;
}

.app-tier-mep-textinput:focus {
  outline: none;
  box-shadow: none;
}


.app-tier-mep-container2 {
  width: 100%;
  height: var(--dl-layout-size-xlarge);
  display: flex;
  overflow: auto;
  box-shadow: 1px 1px 1px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  scroll-padding-top: var(--dl-layout-space-halfunit);
  scroll-padding-right: var(--dl-layout-space-halfunit);
  scroll-padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text10 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text11 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text12 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text13 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text14 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text15 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text16 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text17 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-added-mep9 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: -1px 1px 1px 0px #d4d4d4;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
 
.app-tier-mep-text18 {
  width: 100%;
  padding-top: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-title {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 0px 0px #ccc3c3;
  padding-top: 0px;
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
 
.app-tier-mep-icon10 {
  width: 32px;
  height: 32px;
  padding: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-icon12 {
  width: 32px;
  height: 32px;
  padding: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-icon16 {
  width: 32px;
  height: 32px;
  padding: var(--dl-layout-space-halfunit);
}
 
.app-tier-mep-text19 {
  display: inline-block;
}
 
.app-tier-mep-text20 {
  display: inline-block;
}
 
.app-tier-mep-text21 {
  display: inline-block;
}
 
.app-tier-mep-text22 {
  display: inline-block;
}
 
.app-tier-mep-text23 {
  display: inline-block;
}
 
.app-tier-mep-text24 {
  display: inline-block;
}
 
.app-tier-mep-text25 {
  display: inline-block;
}
 
.app-tier-mep-text26 {
  display: inline-block;
}
 
.app-tier-mep-text27 {
  display: inline-block;
}
 
.app-tier-me-proot-class-name {
  left: 0px;
  bottom: 0px;
  position: static;
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-halfunit);
}
