.multi-trade-racks-layout226 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #ffffff;
}
 
.multi-trade-racks-navlink {
  display: contents;
}
 
.multi-trade-racks-max-width {
  width: 900px;
  display: flex;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-theme-accent2);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-layout-space-unit);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
  text-decoration: none;
}
 
.multi-trade-racks-max-width:hover {
  box-shadow: 10px 10px 10px 0px #d4d4d4;
}
 
.multi-trade-racks-column {
  align-self: center;
}
 
.multi-trade-racks-icon1 {
  width: 531px;
  height: 357px;
}
 
.multi-trade-racks-section-title {
  align-self: center;
}
 
.multi-trade-racks-over-title1 {
  height: auto;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
}
 
.multi-trade-racks-content {
  width: 660px;
}
 
.multi-trade-racks-title1 {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-weight: 800;
}
 
.multi-trade-racks-description1 {
  font-style: normal;
  text-align: justify;
  font-family: "Bricolage Grotesque";
  font-weight: 600;
}
 
.multi-trade-racks-action1 {
  font-style: normal;
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
}
 
.multi-trade-racks-action2 {
  font-style: normal;
  text-align: center;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
}
 
.multi-trade-racks-text1 {
  display: inline-block;
}
 
.multi-trade-racks-text2 {
  display: inline-block;
}
 
.multi-trade-racks-text3 {
  display: inline-block;
}
 
.multi-trade-racks-text4 {
  display: inline-block;
}
 
.multi-trade-racks-text5 {
  display: inline-block;
}
 

 
@media(max-width: 1200px) {
  .multi-trade-racks-max-width {
    width: 900px;
  }
}
 
@media(max-width: 991px) {
  .multi-trade-racks-layout226 {
    flex-direction: column;
  }
  .multi-trade-racks-max-width {
    width: 100%;
    flex-direction: column;
  }
  .multi-trade-racks-content {
    align-items: center;
  }
}
 
@media(max-width: 767px) {
  .multi-trade-racks-max-width {
    width: 100%;
  }
  .multi-trade-racks-section-title {
    width: 100%;
  }
  .multi-trade-racks-content {
    width: 100%;
  }
  .multi-trade-racks-actions {
    flex-wrap: wrap;
  }
}
 
@media(max-width: 479px) {
  .multi-trade-racks-max-width {
    width: 100%;
  }
  .multi-trade-racks-column {
    width: 100%;
    margin-right: 0px;
  }
  .multi-trade-racks-icon1 {
    width: 410px;
    height: 351px;
  }
  .multi-trade-racks-section-title {
    width: 100%;
  }
  .multi-trade-racks-content {
    width: 100%;
  }
  .multi-trade-racks-button1 {
    width: 100%;
  }
  .multi-trade-racks-button2 {
    width: 100%;
  }
}
