.projects-main-container1 {
  width: 82%;
  height: 100%;
  display: grid;
  max-height: auto;
  min-height: auto;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-color: #ffffff;
}
 
.projects-main-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.projects-main-container3 {
  gap: var(--dl-layout-space-halfunit);
  width: 40%;
  height: 36px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
 
.projects-main-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.projects-main-textinput {
  width: 100%;
  height: 24px;
  text-align: left;
  font-family: "Bricolage Grotesque";
}
 
.projects-main-container4 {
  gap: var(--dl-layout-space-twounits);
  flex: 0;
  height: 36px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
 
.projects-main-container5 {
  gap: var(--dl-layout-space-twounits);
  display: grid;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
 
.projects-main-text10 {
  display: inline-block;
}
 
.projects-main-text11 {
  display: inline-block;
}
 
.projects-main-text12 {
  display: inline-block;
}
 
.projects-main-text13 {
  display: inline-block;
}
 
.projects-main-text14 {
  display: inline-block;
}
 
.projects-main-text15 {
  display: inline-block;
}
 
.projects-main-text16 {
  display: inline-block;
}
 
.projects-main-text17 {
  display: inline-block;
}
 
.projects-main-text18 {
  display: inline-block;
}
 
.projects-main-text19 {
  display: inline-block;
}
 
.projects-main-text20 {
  display: inline-block;
}
 
.projects-main-text21 {
  display: inline-block;
}
 
.projects-main-text22 {
  display: inline-block;
}
 
.projects-main-text23 {
  display: inline-block;
}
 
.projects-main-text24 {
  display: inline-block;
}
 
.projects-main-text25 {
  display: inline-block;
}
 
.projects-main-text26 {
  display: inline-block;
}
 
.projects-main-text27 {
  display: inline-block;
}
 
.projects-main-text28 {
  display: inline-block;
}
 
.projects-main-text29 {
  display: inline-block;
}
 
.projects-main-text30 {
  display: inline-block;
}
 
.projects-main-text31 {
  display: inline-block;
}
 
.projects-main-text32 {
  display: inline-block;
}
 
.projects-main-text33 {
  display: inline-block;
}
 
.projects-main-text34 {
  display: inline-block;
}
 
.projects-main-text35 {
  display: inline-block;
}
 
.projects-main-text36 {
  display: inline-block;
}
 
.projects-main-text37 {
  display: inline-block;
}
 
.projects-main-text38 {
  display: inline-block;
}
 
.projects-main-text39 {
  display: inline-block;
}
 
.projects-main-text40 {
  display: inline-block;
}
 
.projects-main-text41 {
  display: inline-block;
}
 
.projects-main-text42 {
  display: inline-block;
}
 
.projects-main-text43 {
  display: inline-block;
}
 
.projects-main-text44 {
  display: inline-block;
}
 
.projects-main-text45 {
  display: inline-block;
}
 
.projects-main-text46 {
  display: inline-block;
}
 
.projects-main-text47 {
  display: inline-block;
}
 
.projects-main-text48 {
  display: inline-block;
}
 
.projects-main-text49 {
  display: inline-block;
}
 
.projects-mainroot-class-name {
  height: 100%;
  position: static;
  align-self: flex-start;
}
 
.projects-mainroot-class-name1 {
  top: 0px;
  left: 282px;
  height: auto;
  position: static;
}
