.app-ai-chat-panel-container1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  box-shadow: 1px 1px 1px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
}
 
.app-ai-chat-panel-container2 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 2px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
}
 
.app-ai-chat-panel-text1 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 600;
}
 
.app-ai-chat-panel-icon1 {
  width: 16px;
  height: 16px;
  transition: 0.3s;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.app-ai-chat-panel-icon1:hover {
  color: white;
  background: gray;
}
 
.app-ai-chat-panel-icon1:active {
  color: white;
  background: black;
}
 
.app-ai-chat-panel-container3 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  box-shadow: 0px 1px 2px 0px #d4d4d4;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.app-ai-chat-panel-text2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #646464;
  font-size: 12px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 400;
}
 
.app-ai-chat-panel-textarea {
  width: 100%;
  height: 129px;
  padding: var(--dl-layout-space-halfunit);
  font-size: 12px;
  font-family: "Bricolage Grotesque";
  border-color: #656565;
  border-width: 0.5px;
  border-radius: var(--dl-layout-radius-radius8);
  background-color: white;
}
 
.app-ai-chat-panel-button {
  font-size: 12px;
  align-self: flex-end;
  transition: 0.3s;
  border-color: gray;
}
 
.app-ai-chat-panel-button:hover {
  background-color: black;
}
 

 
.app-ai-chat-panel-text3 {
  fill: white;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 600;
}
 
.app-ai-chat-panel-text4 {
  display: inline-block;
}
 
.app-ai-chat-panel-text5 {
  display: inline-block;
}
 
.app-ai-chat-panelroot-class-name {
  top: var(--dl-layout-space-sixunits);
  left: var(--dl-layout-space-sixunits);
  display: none;
  position: fixed;
}
 
.app-ai-chat-panelroot-class-name1 {
  top: var(--dl-layout-space-sixunits);
  left: var(--dl-layout-space-sixunits);
  position: fixed;
}
