.logo-projects-container {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
}
 
.logo-projects-image1 {
  width: auto;
  height: 40px;
  border-radius: 0px;
}
 
.logo-projects-text1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 20px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 800;
  line-height: 2;
}
 
.logo-projects-text2 {
  display: inline-block;
}
 

 

 

 

 

 

