.project-card-container1 {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-unit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-buttonradius);
  flex-direction: column;
}
 
.project-card-container1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: var(--dl-layout-radius-buttonradius);
}
 
.project-card-container2 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.project-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 2/1;
  border-radius: 12px;
}
 
.project-card-container3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.project-card-project-number {
  font-family: "Bricolage Grotesque";
}
 
.project-card-project-name {
  font-size: 24px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
}
 
.project-card-proect-address {
  font-size: 20px;
  font-style: normal;
  font-family: "Bricolage Grotesque";
  font-weight: 500;
}
 
.project-card-created-by {
  font-family: "Bricolage Grotesque";
}
 
.project-card-edited {
  font-family: "Bricolage Grotesque";
}
 
.project-card-text1 {
  display: inline-block;
}
 
.project-card-text2 {
  display: inline-block;
}
 
.project-card-text3 {
  display: inline-block;
}
 
.project-card-text4 {
  display: inline-block;
}
 
.project-card-text5 {
  display: inline-block;
}
 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

